trainOgForest/SplitData.pkl
trainOgForest/dot/*
paths/TFpaths/*
temps/*
server/src/*.out
server/testaccuracy/temp*
server/src/inline[0-9].cpp
Research/raw/*
myenv/*
trainOgForest/__pycache__/*
*.out
binfeats/featurespercluster*
binfeats/numericPaths*
data/*
metadata/*
paths/RF*
paths/numericPaths/*
ResearchData/baseline/*
ResearchData/merged/*
ResearchData/raw/*
ResearchData/combined.csv
roothpath.clustering/tempFiles/*
roothpath.clustering/clusteclusteredOutputs/*
trainOgForest/__pycache__/*
