trainOgForest/SplitData.pkl
trainOgForest/SplitDataR.pkl
SplitDataBackupR.pkl
trainOgForest/dot/*
paths/TFpaths/*
temps/*
server/src/*.out
server/testaccuracy/temp*
server/src/inline[0-9].[0-9].cpp
server/src/inline[0-9].cpp
Research/raw/*
myenv/*
trainOgForest/__pycache__/*
*.out
binfeats/featurespercluster*
binfeats/numericPaths*
data/*
metadata/*
paths/RF*
paths/numericPaths/*
ResearchData/baseline/*
ResearchData/*merged/*
ResearchData/*raw/*
ResearchData/*combined.csv
rootpath.clustering/tempFiles/*
trainOgForest/__pycache__/*
binadd/tempFiles/*
binfeats/commonandimp*
rootpath.clustering/clusteredOutputs/
delete*
dataBackup.pkl
server/src/inline[0-9]*
trainOgForest/pkl/*
ResearchData/mnistRaw/
trainOgForest/RestaurantReviews.csv
trainOgForest/RestaurantsData.csv
trainOgForest/yelp_review.csv.zip
.spyproject/*

