trainOgForest/SplitData.pkl
trainOgForest/SplitDataR.pkl
SplitDataBackupR.pkl
server/src/*.out
server/testaccuracy/temp*
server/src/inline[0-9].[0-9].cpp
server/src/inline[0-9].cpp
Research/raw/*
myenv/*
trainOgForest/__pycache__/*
*.out
binfeats/featurespercluster*
binfeats/numericPaths*
paths/RF*
ResearchData/baseline/*
ResearchData/merged/*
ResearchData/raw/*
ResearchData/combined.csv
rootpath.clustering/tempFiles/*
trainOgForest/__pycache__/*
binfeats/commonandimp*
rootpath.clustering/clusteredOutputs/
delete*
dataBackup.pkl
server/src/inline[0-9]*
trainOgForest/pkl/*
ResearchData/mnistRaw/
trainOgForest/RestaurantReviews.csv
trainOgForest/RestaurantsData.csv
trainOgForest/yelp_review.csv.zip
.spyproject/*

# Empty directories that are kept to ensure experiment.py works
# binadd/tempFiles/*
# paths/numericPaths/*
# data/*
# metadata/*
# trainOgForest/dot/*
# paths/TFpaths/*
# temps/*